aiohttp==3.9.4
aiosignal==1.3.1
alembic==1.13.1
annotated-types==0.6.0
anyio==4.3.0
appdirs==1.4.4
argcomplete==2.0.0
asgiref==3.8.1
attrs==23.2.0
Babel==2.12.1
backoff==2.2.1
bcrypt==4.1.2
Beaker==1.12.1
beaupy==3.8.2
beautifulsoup4==4.12.3
blinker==1.7.0
blivet==3.8.2
blivet-gui==2.5.0
Brlapi==0.8.5
build==1.2.1
CacheControl==0.14.0
cachetools==5.3.3
certifi==2024.2.2
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.2.0
chroma-hnswlib==0.7.3
chromadb==0.4.24
cleo==2.1.0
click==8.1.7
coloredlogs==15.0.1
composio_core==0.1.101
composio_crewai==0.1.101
composio_langchain==0.1.101
contextlib2==21.6.0
crashtest==0.4.1
crewai==0.28.8
cryptography==41.0.7
cupshelpers==1.0
dasbus==1.7
dataclasses-json==0.6.4
dbus-python==1.3.2
Deprecated==1.2.14
diskcache==5.6.3
distlib==0.3.8
distro==1.8.0
dnf==4.19.2
docker==7.0.0
docstring-parser==0.15
dulwich==0.21.7
embedchain==0.1.100
emoji==2.11.0
fastapi==0.110.1
fastjsonschema==2.19.1
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.13.4
FLAML==2.1.2
Flask==3.0.3
Flask-Cors==4.0.0
flatbuffers==24.3.25
fros==1.1
frozenlist==1.4.1
fsspec==2024.3.1
google-api-core==2.18.0
google-auth==2.29.0
google-cloud-aiplatform==1.47.0
google-cloud-bigquery==3.20.1
google-cloud-core==2.4.1
google-cloud-resource-manager==1.12.3
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
gpg==1.20.0
gptcache==0.1.43
greenlet==3.0.3
grpc-google-iam-v1==0.13.0
grpcio==1.62.1
grpcio-status==1.62.1
gunicorn==21.2.0
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.22.2
humanfriendly==10.0
humanize==3.13.1
idna==3.4
importlib-metadata==7.0.0
importlib_resources==6.4.0
installer==0.7.0
instructor==0.5.2
itsdangerous==2.1.2
jaraco.classes==3.4.0
jeepney==0.8.0
Jinja2==3.1.3
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
keyring==24.3.1
kubernetes==29.0.0
langchain==0.1.16
langchain-community==0.0.32
langchain-core==0.1.42
langchain-openai==0.0.5
langchain-text-splitters==0.0.1
langchainhub==0.1.15
langsmith==0.1.47
langtable==0.0.65
libcomps==0.1.20
libdnf==0.73.1
libvirt-python==9.7.0
lxml==4.9.3
Mako==1.2.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.21.1
mdurl==0.1.2
mmh3==4.1.0
monotonic==1.6
more-itertools==10.2.0
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
mypy-extensions==1.0.0
nest-asyncio==1.6.0
nftables==0.1
numpy==1.26.4
oauthlib==3.2.2
olefile==0.46
onnxruntime==1.17.3
openai==1.16.2
opentelemetry-api==1.24.0
opentelemetry-exporter-otlp-proto-common==1.24.0
opentelemetry-exporter-otlp-proto-grpc==1.24.0
opentelemetry-exporter-otlp-proto-http==1.24.0
opentelemetry-instrumentation==0.45b0
opentelemetry-instrumentation-asgi==0.45b0
opentelemetry-instrumentation-fastapi==0.45b0
opentelemetry-proto==1.24.0
opentelemetry-sdk==1.24.0
opentelemetry-semantic-conventions==0.45b0
opentelemetry-util-http==0.45b0
orjson==3.10.0
overrides==7.7.0
packaging==23.2
Paste==3.5.3
pexpect==4.8.0
pid==2.2.3
pillow==10.2.0
pkginfo==1.10.0
platformdirs==4.2.0
ply==3.11
poetry==1.8.2
poetry-core==1.9.0
poetry-plugin-export==1.7.1
posthog==3.5.0
productmd==1.38
progressbar2==3.53.2
proto-plus==1.23.0
protobuf==4.25.3
ptyprocess==0.7.0
pulsar-client==3.5.0
pwquality==1.4.5
pyasn1==0.6.0
pyasn1_modules==0.4.0
pyautogen==0.2.22
pycairo==1.25.1
pycparser==2.20
pycrypto==2.6.1
pycups==2.0.1
pycurl==7.45.2
pydantic==2.6.4
pydantic_core==2.16.3
pyenchant==3.2.2
pygit2==1.14.0
Pygments==2.17.2
PyGObject==3.46.0
pykickstart==3.48
pyOpenSSL==23.2.0
pyparsing==3.0.9
pyparted==3.13.0
pypdf==3.17.4
PyPika==0.48.9
pyproject_hooks==1.0.0
pysbd==0.3.4
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-meh==0.51
python-utils==3.3.3
python-yakh==0.3.2
pyudev==0.24.1
pyxdg==0.27
PyYAML==6.0.1
questo==0.2.3
rapidfuzz==3.8.1
referencing==0.34.0
regex==2023.12.25
requests==2.28.2
requests-file==1.5.1
requests-ftp==0.3.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.7.1
rpds-py==0.18.0
rpm==4.19.1.1
rpmautospec==0.6.3
rpmautospec-core==0.1.4
rsa==4.9
schema==0.7.5
SecretStorage==3.3.3
selinux @ file:///builddir/build/BUILD/libselinux-3.5/src
sepolicy @ file:///builddir/build/BUILD/selinux-3.5/python/sepolicy
setools==4.4.3
setuptools==67.7.2
shapely==2.0.3
shellingham==1.5.4
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
sniffio==1.3.1
sos==4.6.0
soupsieve==2.5
SQLAlchemy==2.0.29
starlette==0.37.2
sympy==1.12
systemd-python==235
Tempita==0.5.2
tenacity==8.2.3
termcolor==2.4.0
tiktoken==0.5.2
tokenizers==0.15.2
tomlkit==0.12.4
tqdm==4.66.2
trove-classifiers==2024.3.25
typer==0.9.4
types-requests==2.31.0.6
types-urllib3==1.26.25.14
typing-inspect==0.9.0
typing_extensions==4.11.0
urllib3==1.26.18
uvicorn==0.29.0
uvloop==0.19.0
virtualenv==20.25.1
watchfiles==0.21.0
websocket-client==1.7.0
websockets==12.0
Werkzeug==3.0.2
wrapt==1.16.0
yarl==1.9.4
zipp==3.18.1
